/*Base*/
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
    --color-primary: #081647;
    --color-secondary: #f6114D;
}

body {
    font-family: "Lato";
    font-size: 16px;
    color: var(--color-primary);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--color-secondary);
}

a.nav-active {
    color: var(--color-secondary);
}

.text-color {
    color: #ededed;
}

/*Header et navbar*/

header {
    text-align: center;
    padding: 1.3rem 0;
    padding-bottom: 1rem;
    padding-top: 0;
    background: var(--color-primary);
}
header .bg-cover{
    padding: 4px;
    height:100%;
}
header h2.logo {
    font-size: 6vw;
    color: white;
}
header .nav-fill {
    max-width: 16rem;
    margin: auto;
}
header .nav-fill a {
    color: #ffffff;
}
header .nav-fill li:hover a {
    color: var(--color-secondary);
}
header .navbar li.nav-item a.nav-link {
    font-weight: bold;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}
header .navbar li.nav-item a.nav-link:hover{
    color: var(--color-secondary);
}

/*Main content*/


.card img{
    max-height: 250px;
    object-fit: cover;
}

.liste{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}
.btn{
    border-radius: 30px;
    margin: auto;
    background-color: var(--color-primary);
    border: var(--color-primary);
    padding: 0.8em 2.5em;
}

.btn-secondary {
    background-color: var(--color-secondary);
}

.btn:hover{
    background-color: var(--color-secondary);
    transform: scale(1.1);
    transition: all 0.4s;
}
a{
    color: #ffffff;
}
a:hover {
    text-decoration: none;
    color: #ffffff;
}
header .bar1, header .bar2, header .bar3 {
    width: 25px;
    height: 2px;
    background-color: #ffffff;
    margin: 5px 0;
    transition: 0.4s;
    display: block;
    position: relative;
}
#carouselExampleSlidesOnly img{
    object-fit: cover;
    max-height: 25rem;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    filter: grayscale(100%);
}

/*Footer*/
footer{
    background: var(--color-primary);
}

footer p {
    color: white;
}
.ftr{
    display: flex;
    justify-content: space-around;
}
footer  a:hover {
    color: var(--color-secondary);
}
footer .ftr a.nav-link {
    padding: 0;
}
.social-network{
    flex-direction: column;
}
.newsletter label{
    color: white;
    margin: 10px 0;
}
.newsletter .btn{
    margin: 0;
}
.newsletter .btn a:hover{
    color: white;
}
.newsletter input[type='text']{
    border-radius: 7px;
}
@media screen and (max-width: 768px) {
    footer{
        height: auto;
        padding: 3px;
    }
    .ftr{
        display: flex;
        flex-wrap: wrap;
    }
    .newsletter .btn{
        margin-bottom: 10px;
    }
}



/*page liste*/


.film-list{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}
.film-list .btn{
    min-width: 8rem;
}
.film-list img{
    width: 25rem;
    height: 16rem;
    border-radius: 10px;
}
.film-list img:hover{
    transform: scale(1.1);
    transition: all 0.4s;
}
.description {
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
}
.description .btn{
    margin-top: 2rem;
}
.separator {
    border-top: 1px solid rgba(8, 22, 71,.2);
    margin-top: 2em;
    margin-bottom: 2em;
}
@media screen and (max-width: 992px){
    .film-list img{
        width: 22rem;
        height: 14rem;
    }
    .description .btn{
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
}
@media screen and (max-width: 768px){
    .film-list img{
        width: 100%;
        height: auto;
        margin-bottom: 1rem;
    }
    .description .btn{
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
}

/*page programmation*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800');


.film_card{
    position: relative;
    height: 22rem;
    margin: 5rem auto;
    border-radius: 10px;
    transition: all 0.4s;
    box-shadow: 0px 0px 25px 0px #000000}
.film_card:hover{
    transform: scale(1.02);
    box-shadow: 0px 0px 25px 0px var(--color-secondary);
    transition: all 0.4s;
}

.film_card p {
    color: white;
}

.film_card .btn{
    display: block;
    width: 8rem;
    height: 2.5rem;
    padding: 0.4rem 0 0 0;
    background: var(--color-secondary);
}
.info_section{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 2;
    border-radius: 10px;
}
.film_header{
    position: relative;
    padding: 25px;
    height: 40%;
}
.petite_affiche{
    position: relative;
    float: left;
    margin-right: 1.5rem;
    height: 10rem;
    box-shadow: 0 0 20px -10px rgba(0,0,0,0.5);
}

.film_horaire{
    padding: 25px;
    height: 40%;
    margin-top: 0.5rem;
}
.film_horaire i{
    margin: 1rem;
}

.img_back{
    position: absolute;
    top: 0;
    z-index: 1;
    height: 100%; right: 0;
    background-size: cover;
    border-radius: 0.7rem;
}
@media screen and (min-width: 768px) {
    .film_header{
        width: 65%;
    }
    .film_horaire{
        width: 50%;
    }
    .info_section{
        background: linear-gradient(to right, var(--color-primary) 50%, transparent 100%);
    }
    .img_back{
        width: 70%;
        background-position: 80% 0% !important;
    }

}
@media screen and (max-width: 768px) {
    .film_card{
        width: 95%;
        margin: 70px auto;
        min-height: 350px;
        height: auto;
    }
    .img_back{
        width: 100%;
        background-position: 50% 0% !important;
        background-repeat: no-repeat;
    }
    .film_header{
        width: 100%;
        margin-top: 85px;
    }
    .film_horaire{
        width: 100%;
    }
    .info_section{
        background: linear-gradient(to top, var(--color-primary) 30%, transparent 100%);
        display: inline-grid;
    }
    .film_card .btn{
        margin-bottom: 1rem;
    }

    #carouselExampleSlidesOnly img{
        max-height: 150px;
    }
}
.joker_back{
    background: url("Images/joker.png");
}
.drive_back{
    background: url("Images/drive.jpg");
}
.lh_back{
    background: url("Images/LaHaine-2.jpg");
}
.inter_back{
    background: url("Images/inter.jpg");
}

/* page inscription */

button, select {
    text-transform: none;
}
button, input, select, textarea {
    color: #5A5A5A;
    font: inherit;
    margin: 0;
}
input {
    line-height: normal;
}

.form_card {
    max-width: 768px;
    margin: 4rem auto;
    position: relative;
}
form {
    padding: 2rem;
    margin: 3rem 0;
    background: #ffffff;
    border-radius: 10px;
}
h1 {
    color: var(--color-secondary);
    font-size: 2.5rem;
    letter-spacing: 0.5rem;
    text-align: center;
    text-transform: uppercase;
}
.underline {
    border-bottom: solid 2px var(--color-secondary);
    margin: auto;
    width: 80px;
}
.name {
    float: left;
    width: 45%;
}
.forname {
    float: right;
    width: 45%;
}

.form_card input[type='text'], [type='email'], [type='number'], select {
    background: none;
    border: none;
    border-bottom: solid 2px var(--color-primary);
    color: var(--color-primary);
    margin: 0em 0 2rem 0;
    padding: 0 0 1rem 0;
    text-transform: uppercase;
    width: 100%;
}

.form_card input[type='text']:focus, [type='email']:focus{
    outline: none;
    padding: 0 0 1rem 0;
}

.cgu{
    color: var(--color-primary);
    margin: 2rem 0;
}

.choix_film {
    width: 100%;
}
.email .telephone {
    width: 100%;
}

::-webkit-input-placeholder {
    color: var(--color-primary);
}

:-moz-placeholder {
    color: var(--color-primary);
    opacity: 1;
}

::-moz-placeholder {
    color: var(--color-primary);
    opacity: 1;
}

:-ms-input-placeholder {
    color: var(--color-primary);
}

#form_button {
    background: var(--color-primary);
    border: solid 2px var(--color-primary);
    border-radius: 20px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
}

#form_button:hover {
    background: var(--color-secondary);
    border: solid 2px var(--color-secondary);
    color: #F2F3EB;
    transform: scale(1.1);
    transition: all 0.4s;
}
.submit{
    display: flex;
    justify-content: center;
}

/* pages détails */

.titre_details{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}
.film_details{
    min-height: 40vh;
}
.film_details h5, .fiche_technique h5, .trailer h5{
    font-weight: bold;
}
.film_details .petite_affiche{
    height: 15rem;
}
.film_details p{
    text-align: justify;
}
.fiche_technique{
    margin-top: 1rem;
    margin-left: 0.5rem;
    text-align: justify;
}
.trailer{
    margin: 2rem 0 1rem 0.5rem;
    display: flex;
    justify-content: flex-start;
}
.trailer iframe{
    margin-left: 1rem;
}
.description_film {
    margin-left: 1rem;
}
@media screen and (max-width: 768px){
    .film_details{
        display: flex;
        flex-direction: column;
        margin-right: 1rem;
    }
    .film_details .petite_affiche{
        width: auto;
        margin: auto;
    }
    .trailer{
        flex-direction: column;
        margin-left: 1rem;
    }
    .trailer iframe{
        width: auto;
        margin: auto;
    }
    .fiche_technique{
        margin: 0 1rem;
    }
}
